* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(Images/background.png);
}

.nav-list {
  list-style-type: none;
}

.nav-item:hover {
  color: orange;
}