* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(Images/background.png);
}

.nav-list {
  list-style-type: none;
}

.nav-item:hover {
  color: orange;
}

.headerBG {
  width: 450px;
  height: 55px;
  margin: auto;
  line-height: 50px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
}

.team-list {
  list-style-type: none;
}

.team-item {
  width: 350px;
  display: inline-block;
}

.team-bio {
  margin: 15px;
  text-align: justify;
}

.about {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(Images/bg.jpg);
}

.circle {
  width: 30%;
  margin: auto;
  padding: 20px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}